// This template is to illustrate advanced features that you can use in
// your code generation of the toString() method.
//
// Purpose: This template outputs date related objects using the pattern 'yyyy-MM-dd HH:mm:ss'
//
// Feel free to contribute additional advanced templates that could be
// useful for others in the community at the official homepage
// http://www.intellij.org/twiki/bin/view/Main/ToStringPlugin
// or email it to me cib_rejse@yahoo.dk then I could add it in future
// versions of this plugin.
//
// -- Claus Ibsen
//
#foreach ($field in $fields)
  #if ($field.date || $field.calendar)
    #set ($useDateFormat = true)
    #set ($autoImportPackages = "java.text.SimpleDateFormat")
  #end
#end
#if ($useDateFormat)
  final SimpleDateFormat sdf = new SimpleDateFormat("yyyy-MM-dd HH:mm:ss");
#end
#if ( $fields.size() > 0 )
#set ( $i = 0 )
    return "$classname{" +
#foreach( $field in $fields )
#if ( $i == 0 )
    "##
#else
    ", ##
#end
#if ( $field.objectArray )
$field.name=" + ($field.name == null ? null : Arrays.asList($field.name)) +
#elseif ( $field.string )
$field.name='" + $field.name + "'" +
#elseif ( $field.calendar )
$field.name=" + ($field.name == null ? null : sdf.format($field.name .getTime())) +
#elseif ( $field.date )
$field.name=" + ($field.name == null ? null : sdf.format($field.name)) +
#else
$field.name=" + $field.name +
#end
#set ( $i = $i + 1 )
#end
    "}";
#else
    return "$classname{}";
#end