final StringBuffer buf = new StringBuffer();
buf.append("$classname");
#set ($i = 0)
#foreach ($field in $fields)
#if (!$field.modifierStatic)
#if ($i == 0)
buf.append("{##
#else
buf.append(",##
#end
$field.name=")##
#if ($field.primitiveArray)
.append($field.name == null ? "null" : "");
for (int i = 0; $field.name != null && i < $field.name .length; ++i)
    buf.append(i == 0 ? "" : ", ").append($field.name[i]);
#elseif ($field.objectArray)
.append($field.name == null ? "null" : Arrays.asList($field.name).toString());
#else
.append($field.name);
#end
#set ($i = $i + 1)
#end
#end
#if ($fields.size() == 0)
buf.append("{}");
#else
buf.append('}');
#end
return buf.toString();