try {
final StringBuffer buf = new StringBuffer();
#if ($class.hasSuper)
buf.append(super.toString()).append(" ::: ");
#end
buf.append("$classname{");

Field[] fields = this.getClass().getDeclaredFields();
for (int i = 0; i < fields.length; i++) {
buf.append("").append(fields[i].getName()).append("=").append(fields[i].get(this));
if (i != fields.length - 1)
buf.append(',');
}

buf.append('}');
return buf.toString();

} catch (IllegalAccessException e) {
throw new RuntimeException(e);
}